ion-grid {
  margin-bottom: 20px;
}

ion-col > ion-card-title {
  font-size: 12px;
}

.card {
  max-height: 300px;
}

.image_domain {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 20px;
}

.image_source {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Swiper */

swiper-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

swiper-slide {
  margin-left: 10.00px;
}

ion-chip {
  --background: #004e5c;
  --color: #00eeff;
}

swiper-slide > ion-button {
  font-size: 14px;
  --color: #000000;
  --background: lightblue;

  --border-radius: 40px;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: rgb(24, 57, 202);

  --padding-top: 0;
  --padding-bottom: 0;
  --margin: 0;
  text-transform: none;
}

ion-card > ion-button {

  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 50px;

  --color: #ca0202;
  --background: #ffffff;

  --border-radius: 40px;
  --border-color: #000;
  --border-style: solid;
  --border-width: 0px;
}