<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <swiper-container (slidechange)="swiperSlideChanged($event)" direction="vertical">
    <swiper-slide *ngFor="let item of list">

      <ion-grid>
        <ion-row>

          <!-- <img [src]="item.image" alt=""> -->
          <!-- conditional display -->
          <!-- <video src="https://placehold.co/1920x1080.mp4"></video> conditional display, and conditional display based on vertical or horizontal video -->

          <ion-col class="details">
            <div class="ion-activatable ripple-parent circle">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="thumbs-up-sharp"></ion-icon>
            </div>
            <ion-label>10K</ion-label>

              <div class="ion-activatable ripple-parent circle">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon name="play-sharp"></ion-icon>
              </div>

                <ion-chip>
                  <ion-avatar>
                    <img alt="Silhouette of a person's head"
                      src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                  </ion-avatar>
                  <ion-label>{{ item.owner }}</ion-label>
                </ion-chip>

                <ion-button size="small" shape="round">
                  <ion-label>View</ion-label>
                </ion-button>
            
          </ion-col>

          <ion-col class="control_panel" size="auto">

            <div class="ion-activatable ripple-parent circle">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="thumbs-up-sharp"></ion-icon>
            </div>
            <ion-label>10K</ion-label>

            <div class="ion-activatable ripple-parent circle">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="thumbs-down-sharp"></ion-icon>
            </div>
            <ion-label>Dislike</ion-label>

            <div class="ion-activatable ripple-parent circle">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="chatbox-sharp"></ion-icon>
            </div>
            <ion-label>532</ion-label>

            <div class="ion-activatable ripple-parent circle">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="share-social-sharp"></ion-icon>
            </div>
            <ion-label>Share</ion-label>

            <div id="popover_button" class="ion-activatable ripple-parent circle">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="ellipsis-horizontal-sharp"></ion-icon>
            </div>

            <img class="avatar" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" >

          </ion-col>

        </ion-row>
      </ion-grid>

    </swiper-slide>
  </swiper-container>

</ion-content>