/* Scroll snap */

swiper-container {
  background-color: red;
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: calc(100% - 20px);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}