swiper-container {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;
  background-color: #fffae5;
  border: 1px solid #ffe366;
}

swiper-slide {
  margin-left: 10.00px;
}

swiper-slide > ion-button {
  font-size: 14px;
  --color: #ebebeb;
  --background: rgb(61, 61, 61);

  --border-radius: 40px;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: rgb(24, 57, 202);

  --padding-top: 0;
  --padding-bottom: 0;
  --margin: 0;
  text-transform: none;
}


div.warning {
  max-width: 600px; 
  padding-left: 20px;
  padding-right: 10px;
}

/* Button */

.circle {
  position: re;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: rgba($color: #444444, $alpha: 1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
  background-color: #575757;
}